<template>
    <div>
        <div class="relative">
            <form v-if="config.length" method="post" action="/nova-vendor/nova-settings/save-config" autocomplete="off">
                <input type="hidden" id="token" name="_token" ref="token" v-model="token">
                <div class="mb-8">
                    <h1 class="mb-3 text-90 font-normal text-2xl">Create Table</h1>
                    <div class="card">
                        <div v-for="item in config" class="flex border-b border-40" via-resource="" via-resource-id="" via-relationship="">
                            <div class="w-1/5 px-8 py-6">
                                <label :for="item.key" class="inline-block text-80 pt-2 leading-tight">{{item.title}}</label>
                            </div>
                            <div class="py-6 px-8 w-1/2">
                                <select :name="item.key" v-if="item.type === 'select'" v-model="item.value" class="w-full form-control form-input form-input-bordered">
                                    <option v-for="(option, key) in JSON.parse(item.options)" :value="key">{{option}}</option>
                                </select>
                                <input v-else-if="item.type === 'checkbox'" :checked="item.value == 1" :name="item.key" :value="1" type="checkbox" class="checkbox">
                                <input v-else type="text" :name="item.key" v-model="item.value" class="w-full form-control form-input form-input-bordered">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center">
                    <span tabindex="0" @click="goBack" class="btn btn-link dim cursor-pointer text-80 ml-auto mr-6">Cancel</span>
                    <button type="submit" class="btn btn-default btn-primary inline-flex items-center relative">
                        <span class="">Save Config</span>
                    </button>
                </div>
            </form>
            <div v-else-if="emptyConfig" class="mb-8">
                <div class="card p-6">
                    <form method="get" action="/nova-vendor/nova-settings/upload-config" class="flex justify-between items-center">
                        <button class="btn btn-default btn-primary inline-flex items-center relative">Upload Config</button>
                        <span>For some additional customizing of your project, you can install this configuration</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';

    export default {
        data(){
            return {
                config: [],
                emptyConfig: false,
                errors:[],
                created: false,
                token: ''
            }
        },
        methods: {
            getConfig(){
                axios.get('/nova-vendor/nova-settings/get-config').then(response => {
                    this.config = response.data;
                    if(!this.config.length){
                        this.emptyConfig = true;
                    }
                }).catch(() => {
                    this.$toasted('Config get error','error');
                    this.emptyConfig = true;
                })
            },
            goBack() {
                window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/')
            }
        },
        mounted() {
            this.getConfig();

            const metas = document.getElementsByTagName('meta');

            let token;

            for (let i = 0; i < metas.length; i++) {
                if (metas[i].getAttribute('name') === 'csrf-token') {
                    token = metas[i].getAttribute('content');
                }
            }

            this.token = token;
        },
    }
</script>

