<template>
    <div>
        <div class="relative">
            <form @submit.prevent="onSubmit"  autocomplete="off">
                <div class="mb-8">
                    <h1 class="mb-3 text-90 font-normal text-2xl">Create Table</h1>
                    <div class="card">
                        <div class="flex border-b border-40" via-resource="" via-resource-id="" via-relationship="">
                            <div class="w-1/5 px-8 py-6">
                                <label for="group_title" class="inline-block text-80 pt-2 leading-tight">Group Title<span class="text-danger text-sm">*</span></label>
                            </div>
                            <div class="py-6 px-8 w-1/2">
                                <input id="group_title" v-model="group_title" type="text" placeholder="Name" required class="w-full form-control form-input form-input-bordered">
                                <div v-if="errors.group_title" class="help-text error-text mt-2 text-danger">
                                    {{ errors.group_title[0] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center">
                    <span tabindex="0" @click="goBack" class="btn btn-link dim cursor-pointer text-80 ml-auto mr-6">Cancel</span>
                    <button @click="addGroup" type="submit" class="btn btn-default btn-primary inline-flex items-center relative">
                        <span class="">Create Table</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';

    export default {
        data(){
            return {
                group_title: '',
                errors:[],
                created: false
            }
        },
        methods: {
            addGroup(){
                event.preventDefault();

                if(this.created){
                    return false;
                }

                this.created = true;

                axios.post('/nova-vendor/nova-settings/add-group',{
                    group_title:this.group_title
                }).then((response) => {
                    this.$toasted.show('Group Successfully Created', { type: 'success' });
                    this.$router.push({name: 'nova-settings'});
                }).catch(error => {
                    this.created = false;
                    let alert_message = 'Something went wrong';

                    if(typeof(error.response.data) === 'string'){
                        alert_message = error.response.data;
                    }

                    this.$toasted.show(alert_message, { type: 'error' });
                    this.errors = error.response.data;
                })
            },
            goBack() {
                window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/')
            }
        },
        mounted() {

        },
    }
</script>

