<template>
    <div>
        <trumbowyg @input="changeValue(index, locale)" v-model="value[locale]" :config="config" class="form-control" :name="'field['+group_id+']['+field_key+']['+locale+']'"></trumbowyg>
    </div>
</template>

<script>
    // Import this component
    import Trumbowyg from 'vue-trumbowyg';

    // Import editor css
    import 'trumbowyg/dist/ui/trumbowyg.css';

    export default {
        name:'trumbowygComponent',
        props:['value','group_id','locale','field_key', 'index'],
        data () {
            return {
                content: null,
                config: {

                }
            }
        },
        components: {
            Trumbowyg
        },
        methods:{
            changeValue(field_key, locale){
                this.$emit('changeValue', field_key, locale)
            }

        }
    }
</script>

<style scoped>

</style>
