<template>
    <form ref="update_form" method="post" enctype="multipart/form-data" id="update-settings" class="pb-6 relative" :action="routes.updateSettingsData">
        <input type="hidden" id="_token" name="_token">
        <div>
            <portal to="modals">
                <DeleteSettingModal
                    v-if="deleteSettingModalOpen"
                    @close="closeSettingModal"
                    @confirm="confirmSettingDelete"
                >
                    <div class="p-8">
                        <heading :level="2" class="mb-6">{{ __('Delete Setting') }}</heading>
                        <p class="text-80 leading-normal">{{__('Are you sure, that you want to delete this setting?')}}</p>
                    </div>
                </DeleteSettingModal>
            </portal>
            <div class="placeholder_area" v-if="!settings.length">
                <span>Choose or <router-link :to="routes.addNewGroup" class="inline-link" dusk="create-button">create </router-link> new group</span>
            </div>
            <div v-show="currentGroupId === setting.id" v-for="setting in combined_settings" class="content-tabs" :group-id="setting.id">
                <draggable :list="combined_settings.settings_data" v-bind="dragOptions" @start="dragFieldStart" @end="dragFieldEnd">
                    <transition-group name="fade">
                        <div v-for="(element,index) in setting.settings_data" :groupId="setting.id" :unique="element.key" :key="element.order" class="w-full px-6 pt-8 drag-item">
                            <div class="border-b border-40 relative">
                                    <div class="block w-auto px-8 py-2">
                                        <div class="flex items-center">
                                            <label class="undraggable inline-block text-80 leading-tight">{{element.name}}</label>
                                            <code @keydown="prevent" contenteditable="true" class="ml-8 code undraggable" >setting('{{setting.group_key}}.{{element.key}}')</code>
                                            <div @mouseleave="tooltipOut" @click="copy(setting.group_key, element.key)" title="Copy" class="ml-2 copy undraggable">
                                                <div  class="tooltiptext">{{tooltipText}}</div>
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path class="heroicon-ui" d="M17 7h2.25c.97 0 1.75.78 1.75 1.75v10.5c0 .97-.78 1.75-1.75 1.75H8.75C7.78 21 7 20.22 7 19.25V17H4.75C3.78 17 3 16.22 3 15.25V4.75C3 3.78 3.78 3 4.75 3h10.5c.97 0 1.75.78 1.75 1.75V7zm-2 0V5H5v10h2V8.75C7 7.78 7.78 7 8.75 7H15zM9 9v10h10V9H9z"/></svg>
                                            </div>
                                            <div @mouseleave="tooltipOut" @click="copy(setting.group_key, element.key, true)" title="Copy for Blade" class="ml-2 copy undraggable">
                                                <div  class="tooltiptext">{{tooltipBladeText}}</div>
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path class="heroicon-ui" d="M20.59 12l-3.3-3.3a1 1 0 1 1 1.42-1.4l4 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-1.42-1.4l3.3-3.3zM3.4 12l3.3 3.3a1 1 0 0 1-1.42 1.4l-4-4a1 1 0 0 1 0-1.4l4-4a1 1 0 0 1 1.42 1.4L3.4 12zm7.56 8.24a1 1 0 0 1-1.94-.48l4-16a1 1 0 1 1 1.94.48l-4 16z"/></svg>                                </div>
                                        </div>
                                    </div>
                                    <Fields draggable="false" :editor="editor" :routes="routes" :current_locale="current_locale" :locales="locales" :group_id="setting.id" :index="index" :element="element" @changeValue="changeValue"/>
                                    <div @click="deleteSettingModal(element.key)" class="delete_setting undraggable">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M8 6V4c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2h5a1 1 0 0 1 0 2h-1v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V8H3a1 1 0 1 1 0-2h5zM6 8v12h12V8H6zm8-2V4h-4v2h4zm-4 4a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0v-6a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0v-6a1 1 0 0 1 1-1z"/></svg>
                                    </div>
                                </div>
                            </div>
                    </transition-group>
                </draggable>
                <transition name="fade">
                    <div class="placeholder_area" v-if="!setting.settings_data || setting.settings_data === '[]' || setting.settings_data === ''">
                        <span>There are no settings yet, please add some new</span>
                    </div>
                </transition>
            </div>
            <div class="w-full px-6 border-t border-40 pt-8"></div>
            <button type="submit" v-if="settings.length" class="btn btn-default btn-primary block m-auto">
                Save Settings
            </button>
        </div>
    </form>
</template>

<script>
    import Fields from './fields';
    import DeleteSettingModal from './modals/delete_setting';
    import draggable from 'vuedraggable'

    export default {
        name: "content_settings",
        props:['settings', 'currentGroupId', 'routes', 'locales', 'current_locale', 'editor', 'filtered_settings'],
        data(){
            return {
                deleteSettingModalOpen: false,
                deleteSettingKey : '',
                tooltipText: 'Copy',
                tooltipBladeText:'Copy For Blade',
                draggable:{
                    key:'',
                    oldIndex:'',
                },
                disabledDrag:false
            }
        },
        components:{
            Fields,
            DeleteSettingModal,
            draggable
        },

        methods: {
            deleteSettingModal(key){
                this.deleteSettingKey = key;
                this.deleteSettingModalOpen = true;
            },
            closeSettingModal(){
                this.deleteSettingKey = '';
                this.deleteSettingModalOpen = false;
            },
            confirmSettingDelete(){
                this.$emit('deleteSetting', this.deleteSettingKey);
                this.deleteSettingKey = '';
                this.deleteSettingModalOpen = false;
            },
            copy(group_key, key, blade=false){
                let copy_text = '';
                if(!blade){
                    copy_text = 'setting('+"'"+group_key+'.'+key+"'"+')';
                }else{
                    copy_text = '{{setting('+"'"+group_key+'.'+key+"'"+')}}';
                }

                var dummy = document.createElement("textarea");
                document.body.appendChild(dummy);
                dummy.value = copy_text;
                dummy.select();
                document.execCommand("copy");
                document.body.removeChild(dummy);
                this.tooltipText = 'Copied';
                this.tooltipBladeText = 'Copied';
            },
            prevent(e){
                if( e.ctrlKey === true ){
                    if(e.ctrlKey === true && (e.keyCode === 65 || e.keyCode === 67 || e.keyCode === 97)){
                        return true;
                    }
                }

                if(e.keyCode === 9){
                    return true;
                }

                e.preventDefault();
            },
            tooltipOut(){
                this.tooltipText = 'Copy';
                this.tooltipBladeText = 'Copy For Blade';
            },
            changeValue(key, locale, value){
                this.$emit('changeValue', key, locale, value);
            },
            dragFieldStart(e){
                e.item.classList.add('draggable-effect');
                this.draggable.oldIndex = e.oldIndex;
                this.draggable.newIndex = e.newIndex;
                this.draggable.key = e.item.getAttribute('unique');
            },
            dragFieldEnd(e){
                e.item.classList.remove('draggable-effect');
                const groupId = e.item.getAttribute('groupId');
                const newIndex = e.newIndex;
                this.$emit('sortFields',  this.draggable.key, groupId, this.draggable.oldIndex, newIndex);
                this.draggable.key = '';
                this.draggable.oldIndex = '';
            },

        },
        computed: {
            dragOptions() {
                return {
                    animation: 200,
                    ghostClass: "ghost",
                    forceFallback: true,
                    disabled:this.disabledDrag,

                };
            },
            combined_settings() {
                return this.filtered_settings.length > 0 ? this.filtered_settings : this.settings;
            }
        },
        mounted() {
            setTimeout(()=>{
                const undraggable_elements = document.getElementsByClassName('undraggable');

                for (var i = 0; i < undraggable_elements.length; i++) {
                    undraggable_elements[i].addEventListener('mouseover', (event) => {
                        this.disabledDrag = true;
                    });
                    undraggable_elements[i].addEventListener('mouseleave', (event) => {
                        this.disabledDrag = false;
                    })
                }
            },1000);
        }
    }
</script>

<style scoped>
    .delete_setting{
        position: absolute;
        top:0;
        right:30px;
        cursor: pointer;
    }
    code:focus{
        outline:0;
    }
    code{
        color: #c7254e;
        background-color: #f9f2f4;
        border-radius: 30px;
        padding: 5px 10px;
        font-size: 11px;
        border: 0;
        position: relative;
        top: -2px;
        cursor: default;
    }
    .copy{
        cursor:pointer;
    }
    .placeholder_area{
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center
    }
    .copy .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: var(--primary-dark);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -70px;
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 14px;
    }
    .copy .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: var(--primary-dark) transparent transparent transparent;
    }
    .copy{
        position: relative;
    }
    .copy:hover .tooltiptext{
        opacity:1;
        visibility: visible;
    }
    .drag-item{
        cursor:grab;
        background-color: #fff;
    }
    .draggable-effect{
        cursor:grabbing;
        text-indent: -99999px;
        background-color: #f2f2f2;
    }
    .draggable-effect *{
        opacity:0;
    }
</style>
