<template>
    <div>
        <div class="flex border-b border-40 px-8 relative" v-for="(new_setting,index) in new_settings" :key="index" >
            <div class="py-6 px-2 w-1/4">
                <label :for="'setting_name_'+index" class="block text-80 pt-2 leading-tight mb-2">
                    Setting Name
                </label>
                <input :id="'setting_name_'+index" :name="'new_settings['+index+'][name]'" type="text" placeholder="Setting Name" v-model="new_setting.name" class="w-full form-control form-input form-input-bordered">
                <div class="help-text help-text mt-2"></div>
            </div>
            <div class="py-6 px-2 w-1/4">
                <label :for="'setting_key_'+index" class="block text-80 pt-2 leading-tight mb-2">
                    Setting Key
                </label>
                <input :id="'setting_key_'+index" :name="'new_settings['+index+'][key]'" type="text" placeholder="Setting Key" v-model="new_setting.key" class="w-full form-control form-input form-input-bordered">
                <div class="help-text help-text mt-2"></div>
            </div>
            <div class="py-6 px-2 w-1/4">
                <label :for="'setting_type'+index" class="block text-80 pt-2 leading-tight mb-2">
                    Setting Type
                </label>
                <select :id="'setting_type'+index" :name="'new_settings['+index+'][type]'" v-model="new_setting.type" class="w-full form-control form-input form-input-bordered">
                    <option :selected="true" value="text_box">Text Box</option>
                    <option value="textarea">Text Area</option>
                    <option value="rich_text_box">Rich Text Box</option>
                    <option value="checkbox">Checkbox</option>
                    <option value="image">Image</option>
                </select>
                <div class="help-text help-text mt-2"></div>
            </div>
            <div class="py-6 px-2 w-1/4 relative">
                <div @click="deleteNewSetting(index)" v-if="index !== 0" class="delete_setting">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M8 6V4c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2h5a1 1 0 0 1 0 2h-1v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V8H3a1 1 0 1 1 0-2h5zM6 8v12h12V8H6zm8-2V4h-4v2h4zm-4 4a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0v-6a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0v-6a1 1 0 0 1 1-1z"/></svg>
                </div>
                <label :for="'setting_group_'+index" class="block text-80 pt-2 leading-tight mb-2">
                    Setting Group
                </label>
                <select :id="'setting_group_'+index" :name="'new_settings['+index+'][group]'" class="w-full form-control form-input form-input-bordered">
                    <option :selected="currentGroupId === group.id" v-for="(group, index) in groups" :key="group.id" :value="group.id">{{group.group_title}}</option>
                </select>
                <div class="help-text help-text mt-2"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "new_setting",
        props:[
            'new_settings',
            'groups',
            'currentGroupId'
        ],
        methods:{
            deleteNewSetting(index){
                this.$emit('deleteNewSetting', index);
            }
        },
        mounted() {
            const form = document.getElementById('new_settings');

            form.addEventListener('focus', (event) => {
                event.target.classList.remove('invalid');
            }, true);
        }

    }
</script>

<style scoped>
    .delete_setting{
        position: absolute;
        top:10px;
        right:8px;
        cursor: pointer;
    }
    .form-input.invalid{
        border-color: rgba(197, 50, 61, 0.87);
    }
</style>
