<template>
    <div class="search">
        <div class="relative">
            <h3 class="mb-3">Search</h3>
            <div class="search-wrapper flex justify-between">
                <div class="search-item w-full">
                    <lable>Group</lable>
                    <input v-model="group" @input="search($event)" class="w-full form-control form-input form-input-bordered">
                </div>
                <div class="search-item w-full">
                    <lable>Text</lable>
                    <input v-model="text_setting" @input="search($event)" class="w-full form-control form-input form-input-bordered">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from "vue";

export default {
    name: "search",
    props: ['settings'],
    data() {
        return {
            group: "",
            text_setting: "",
            settings: this.settings
        }
    },

    methods: {
        search(event) {
            let search_result = [];

            let search_by_group = this.settings.filter((item) => {
               return (item.group_title.toLowerCase().includes(this.group.toLowerCase().trim()))
            });

            let search_by_text = this.settings.filter((setting) => {
               return setting.settings_data.some(
                    (item) => item.value &&
                        Object.values(item.value).some(
                            (translation) => translation && translation.toLowerCase().includes(this.text_setting.toLowerCase())
                        )
                )}
            );

            let search_by_text_in_group = search_by_group.filter((setting) =>
                setting.settings_data.some(
                    (item) => item.value &&
                        Object.values(item.value).some(
                            (translation) => translation && translation.toLowerCase().includes(this.text_setting.toLowerCase())
                        )
                )
            );

            if(!this.group) {
                search_result = search_by_text
            }

            if(!this.text_setting) {
                search_result = search_by_group
            }

            if(this.group && this.text_setting) {
                search_result = search_by_text_in_group
            }

            search_result = search_result.map((setting) => ({
                ...setting,
                settings_data: setting.settings_data.filter((item) =>
                    Object.values(item.value).some(
                        (val) => val && val.toLowerCase().includes(this.text_setting.toLowerCase())
                    )
                ),
            }));

            let query = {
                group: this.group,
                text_setting: this.text_setting
            }

            this.$emit('searching', search_result, query)
        }
    }
}
</script>

<style scoped>
    .search-wrapper{
        gap: 15px;
        margin-bottom: 15px;
    }
</style>
